@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');


.hero-section{
    width: 100%;
    padding-top: 10rem;
    background: #F5FCFF;
}

.text-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    max-width: 700px;
    flex: 1;
}

.text-div p {
    font-family: "Bai Jamjuree";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: var(--line-height);
    text-align: left;
    hyphens: auto;
}

.text-div p:nth-child(1) {
  color: #282938;
}

.text-div p:nth-of-type(2) {
    color: #1C1E53;
}

.text-div h1{
    font-family: "Space Grotesk";
    font-size: 44px;
    font-weight: 700;
    line-height: 1.4;
    text-align: left;
    color: #282938;
    hyphens: auto;
}

.text-div h1 span {
    color: #5E3BEE;
}

.text-div a{
    background: #5E3BEE;
    border-radius: 0.25rem;
    padding: 0.5rem 1.5rem;
    width: max-content;
    max-width: 200px;
    font-family: 'Roboto';
    font-size: 1.125rem;
    font-weight: 400;
    line-height: var(--line-height);
    text-align: left;
    color: #FFFFFF;
}

.img-div {
    position: relative;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    max-width: 700px;
    max-height: 700px;
    padding: 0 1rem;
    flex: 1;
}

.img-div::before {
    position: absolute;
    background: #D9D9D9;
    top: 18%;
    left: 0;
    content: "";
    height: 82%;
    width: 100%;
    border-radius: 20px;
    z-index: 0;
}

@media (max-width: 1024px) {
    .text-div h1{
        font-size: 36px;
    }

    .text-div p, .text-div a{
        font-size: 1rem;
    }
}

@media (max-width: 768px) {

    .hero-section > div {
        flex-direction: column-reverse;
    }

    .text-div{
        align-items: center;
        margin-top: 2rem;
    }

    .text-div p, .text-div h1{
        text-align: center;
        align-self: center;
    }
}