@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header{
    position: fixed;
    display: flex;
    gap: 2rem;
    width: 100%;
    padding: 0 var(--padding);
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 2rem 5%;
    background: #FFFFFF;
    box-shadow: 0px 5.33px 80px 0px #0000001A;
    z-index: 10;
}

.nav {
    display: flex;
    gap: 1rem;
    width: max-content;
    justify-content: center;
    align-items: center;
}

nav h1, a {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    line-height: var(--line-height);
    color: #1C1E53;
    white-space: nowrap;
}

nav .active h1 {
    color: #5E3BEE;
}

div .download-cv {
    border: 1.33px solid #5E3BEE;
    padding: 0.5rem 1.5rem;
    border-radius: 5.33px;
    color: #5E3BEE;
    font: 1rem;
}

div .download-cv:hover {
    color: #5E3BEE;
}