.home {
    display: flex;
    /* gap: 30rem; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: black;
    /* margin-top: 10rem; */
    /* height: 100vh; */
}